/* Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Modules */
/* ==========================================================================
Typography
========================================================================== */
p {
  color: #555; }

h1 {
  font-size: 2em;
  padding-top: 1em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.33em; }

h4 {
  font-size: 1.17em; }

h5 {
  font-size: 0.83em;
  margin-top: 0;
  padding-top: 0; }

h6 {
  font-size: 0.67em; }

.font-size_small {
  font-size: 13px; }

.font-size_medium {
  font-size: 17px; }

.font-size_large {
  font-size: 20px; }

/* ==========================================================================
$crew-h2: 15px;
$article-h2: 20px;
$font-size-base: 15px;
$font-size-footer: 14px;
$font-size-nav: 13px;
$font-size-search-input: 13px;
$font-size-tag: 13px;
$font-size-smalltext: 13px;
$font-size-button: 13px; // Responsive Sizes
$responsive-h1: 40px; // Line height
$line-height-h1: 68px;
$base-line-height: 27px;
$line-height-article-header: 30px; // Styles

p
{
    font-size: $font-size-base;
    line-height: $base-line-height;

    padding-bottom: 15px;

    color: $slate;
}
h1
{
    font-size: $font-size-h1;
    font-weight: $light;
    line-height: $line-height-h1;
}
h2
{
    font-size: $font-size-h2;
    font-weight: $light;

    color: $white;
}
h3
{
    font-size: $font-size-h3;
    line-height: 32px;

    margin-bottom: 20px;

    color: $dark-grey;
}
h4
{
    font-size: $font-size-h4;
    font-weight: $bold;

    margin: 7px 0 65px 60px;

    text-transform: uppercase;
    &:after
    {
        display: block;

        width: 30px;
        height: 2px;
        margin-top: 15px;

        content: '';

        background-color: $teal;
    }
}
h5
{
    font-size: $font-size-h5;
    font-weight: $bold;

    display: inline-block;

    text-transform: uppercase;

    color: $slate;
}
.bold-italic
{
    font-weight: $bold;
    font-style: $italic;
}
========================================================================== */
/* ==========================================================================
Default Styles
========================================================================== */
body {
  overflow-x: hidden; }

html, body {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

/* ==========================================================================
General Classes
========================================================================== */
.flexbox-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2% auto;
  background-color: #ffffff; }

/* ==========================================================================
Nav
========================================================================== */
/* ==========================================================================
Intro
========================================================================== */
#intro {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
  height: 100vh; }

.intro-wrapper h1 {
  margin-top: 2.5em;
  color: #222222;
  line-height: 0; }
.intro-wrapper h5 {
  color: #222222;
  line-height: 0; }
.intro-wrapper p {
  margin-top: 2em;
  color: #222222;
  font-weight: 500;
  font-size: 20px; }
.intro-wrapper a {
  color: #e84a5f;
  font-weight: 700; }
.intro-wrapper .intro-contact {
  margin-top: 4em; }
  .intro-wrapper .intro-contact p {
    margin-top: 0em; }
.intro-wrapper .intro-display {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 1px solid #3f72af; }
  .intro-wrapper .intro-display .intro-display_icon {
    padding: 4em 1em;
    border: 1px solid #e84a5f;
    max-width: 2em; }
  .intro-wrapper .intro-display .intro-display_icon:hover {
    background-color: #3f72af; }

/* ==========================================================================
About
========================================================================== */
#about h1 {
  border-bottom: 3px solid #e84a5f;
  margin: 2% 0; }
#about p {
  width: 70vw; }

/* ==========================================================================
Portfolio
========================================================================== */
#portfolio h1 {
  border-bottom: 3px solid #e84a5f; }
#portfolio p {
  width: 70vw; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  display: flex;
  justify-content: center;
  height: 20em; }

.footer-wrapper h1 {
  color: #222222;
  text-align: center;
  border-bottom: 4px solid #222222; }
.footer-wrapper .footer-button_wrapper {
  display: flex; }
  .footer-wrapper .footer-button_wrapper a {
    font-size: 17px;
    font-weight: 700;
    background-color: #ffffff;
    color: #2a363b;
    border-radius: 25px;
    border: 2px solid #222222;
    padding: 0.8em 2em;
    margin: 0.3em; }
  .footer-wrapper .footer-button_wrapper a:hover {
    border: 2px solid #e84a5f;
    color: #e84a5f; }
.footer-wrapper .footer-text_wrapper {
  padding-top: 2em; }
  .footer-wrapper .footer-text_wrapper p {
    color: #222222;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 40%; }
  .footer-wrapper .footer-text_wrapper a {
    color: #e84a5f; }
  .footer-wrapper .footer-text_wrapper a:hover {
    color: #ff847c; }
.footer-wrapper #back-to-top {
  margin-top: 2em;
  font-weight: 600; }

/*# sourceMappingURL=styles.css.map */
