*{
    box-sizing: border-box;
}

/*************************
    Page Header
*************************/

.header-nav-wrapper {
    position: relative;
    background-color: #fff;
}

.header-nav-wrapper .name-block {
    display: inline-block;
    width: 340px;
    padding: 30px 0;
    text-align: center;
    border-bottom: solid 5px #7AE2DE;
    background-color: #414A52;
    color: #fff;
}

.header-nav-wrapper .primary-nav-wrapper {
    float: right;
    -webkit-transition: all 300ms;
    transition: all 300ms
}

.header-nav-wrapper nav{
    display: inline-block;
    margin-right: 60px;
    padding: 34px 0 33px;
}

.header-nav-wrapper nav ul {
    display: inline-block; }

.header-nav-wrapper nav ul li {
    font-size: 13px;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-right: solid 1px #E5E7E9;
}

.header-nav-wrapper nav ul li:last-child { 
    border-right:none }

.header-nav-wrapper nav ul li a { 
    font-weight: 200;
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    color: #414A52;
}

.header-nav-wrapper nav ul li a:hover {
    color: #7AE2DE;
}

.header-nav-wrapper nav ul li a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 2px;
    content: '';
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #7AE2DE;
}

.header-nav-wrapper nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.secondary-nav-wrapper {
    display: inline-block;
    width: 340px;
    padding: 10px;
    background-color: #414A52;
}

.secondary-nav-wrapper .top-right-block{
    
}

.carousel-wrapper {
    position: relative;
    display:table;
    width:100%;
    height:calc(100vh - 8.2em);
    max-height:760px;
    padding:10px;
}

.carousel-wrapper .cell-bg {
    display:table-cell;
    vertical-align:middle;
}










/**
.secondary-nav-wrapper ul.secondary-nav {display:inline-block }
.secondary-nav-wrapper ul.secondary-nav li { display: inline-block;font-size: 13px;letter-spacing: 1px;text-transform: uppercase;}
.secondary-nav-wrapper ul.secondary-nav li a {position: relative;padding-bottom: 10px;text-decoration: none;}
.secondary-nav-wrapper ul.secondary-nav li a:before {position: absolute;bottom: 0;left: 0;visibility: hidden;width: 100%;height: 2px;content: '';-webkit-transition: all .3s ease-in-out 0s;transition: all .3s ease-in-out 0s;-webkit-transform: scaleX(0);transform: scaleX(0);background-color: #7AE2DE;}
.secondary-nav-wrapper ul.secondary-nav li a:hover:before { visibility:visible;-webkit-transform:scaleX(1);transform:scaleX(1);}
.secondary-nav-wrapper ul.secondary-nav li:after { position:absolute;top: 0;right: 0;height: 34px;content: ' ';border-right: 1px solid #323940;}
**/

/*************************
    Main Content
*************************/

