// Color Module

$white: #ffffff;
$black: #000000;
$dark-grey: #222222; // replacement for pure black
$light-grey: #ccc;

// Background
// $white
// Nav bar
$light-black: #2a363b; // nav color
$light-text: #555;

$pale-grey: #f9f7f7; // almost white
$blue-grey: #dbe2ef; // hawkes blue
$blue: #3f72af; // steel blue
$dark-blue: #112d4e; // blue whale
$gold: #ebd457; // gold

$red: #e84a5f;
$light-orange: #ff847c;
$peach: #fecea8;

