// Color Module

$white: #ffffff;
$black: #000000;

$dark-black: #222222; // replacement for pure black
$light-black: #2a363b; // nav color
$light-text: #555;
$light-grey: #ccc;



$blue-grey: #dbe2ef; // hawkes blue
$steel-blue: #3f72af; // steel blue
$dark-blue: #112d4e; // blue whale
$gold: #ebd457; // gold

$red: #e84a5f;
$light-orange: #ff847c;
$peach: #fecea8;

$dark-peach: #eabea8;